* {
  margin: 0;
  padding: 0;
}

ol,
ul,
dl {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

fieldset,
img {
  border: 0;
}

i,
em {
  font-style: normal;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  empty-cells: show;
}

th,
td {
  padding: 0;
}

address,
caption,
cite,
code,
dfn,
th {
  font-style: normal;
  font-weight: normal;
}

img {
  max-width: 100%;
}

input {
  font-size: 12px;
  vertical-align: middle;
}

input,
select {
  vertical-align: middle;
}

a,
input,
select,
textarea,
*:focus {
  outline: none;
}

textarea {
  resize: none;
  overflow-y: auto;
  vertical-align: top;
}

a {
  text-decoration: none;
  cursor: pointer;
  -webkit-user-select: none;
  -webkit-user-drag: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  background-color: transparent;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

abbr,
acronym {
  border: 0;
  font-variant: normal;
}

sup {
  vertical-align: text-top;
}

sub {
  vertical-align: text-bottom;
}

pre {
  white-space: pre-wrap;
}

html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  *text-overflow: ellipsis;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

div,
p {
  word-break: break-all;
  word-wrap: break-word;
}

html {
  font-size: 15.6vw;
}

@media screen and (min-width: 640px) {
  html {
    font-size: 60px;
  }

  .main {
    max-width: 640px;
    margin: 0 auto;
  }
}

body,
p {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5 {
  font-size: 100%;
  font-weight: normal;
}

.main {
  padding: .3rem .18rem;
}

.flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-around {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.flex-row {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
}

.flex-row-end {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  flex-wrap: nowrap;
}

.ft-s0 {
  font-size: 0;
}

.color-gray {
  color: #8b8b90;
}

/* part1 */

.slogan-wrap  {
  flex: 1;
}

.btn-download {
  background-color: #3478f7;
  /* padding: .02rem .1rem; */
  width: .5rem;
  height: .5rem;
  text-align: center;
  line-height: .5rem;
  font-size: .25rem;
  border-radius: 50%;
  color: #fff;
  text-decoration: none;
}

.game-logo {
  display: inline-block;
  width: 2.45rem;
  height: 2.45rem;
  margin: 0 .43rem 0 .14rem;
}

.title {
  font-size: .5rem;
  font-weight: 600;
  margin: .16rem 0 0 0;
}

.slogan {
  font-size: .26rem;
  margin: .15rem 0 .34rem 0;
  color: #8b8b90;
}

.btn-connet {
  font-size: .30rem;
  padding: .05rem .2rem;
  color: #fff;
  text-decoration: none;
  background-color: #3478f7;
}



.bd-rad1 {
  border-radius: .3rem;
}

.start-wrap {
  margin: .2rem .14rem;
  vertical-align: middle;
}

.score {
  display: inline-block;
  font-size: .4rem;
  color: #8e8f93;
}

.l-tip {
  text-align: center;
  font-size: .4rem;
  color: #8e8f93;
}

.s-tip {
  text-align: center;
  color: #cbcbcf;
  font-size: .24rem;
}

.starts {
  display: inline-block;
  width: 2.5rem;
  height: .34rem;
  margin-left: .16rem;
}

/* part2 */

.process-img {
  display: block;
  width: 100%;
}