<plist version="1.0">
	<dict> 
		<key>items</key> 
		<array> 
			<dict> 
				<key>assets</key> 
				<array> 
					<dict> 
						<key>kind</key> 
						<string>software-package</string> 
						<key>url</key> 
						<string>
							<![CDATA[https://ali-fir-pro-binary.fir.im/2122af0c46e63fd7d8a4394d02374dc92b36fedd?auth_key=1555506604-0-0-dba45f14559bd5c8ce982fbf5dd17026]]>
						</string> 
					</dict> 
					<dict> 
						<key>kind</key> 
						<string>display-image</string> 
						<key>needs-shine</key> 
						<integer>0</integer> 
						<key>url</key> 
						<string>
							<![CDATA[https://pro-icon-qn.fir.im/3ba5e225978b7d4e9ec409d6506de1ef17aa1d55?e=1555508404&amp;token=LOvmia8oXF4xnLh0IdH05XMYpH6ENHNpARlmPc-T:5hdgufc-uKrQz-2upSkKVMFqgQA=]]>
						</string> 
					</dict> 
					<dict> 
						<key>kind</key> 
						<string>full-size-image</string> 
						<key>needs-shine</key> 
						<true /> 
						<key>url</key> 
						<string>
							<![CDATA[https://pro-icon-qn.fir.im/3ba5e225978b7d4e9ec409d6506de1ef17aa1d55?e=1555508404&amp;token=LOvmia8oXF4xnLh0IdH05XMYpH6ENHNpARlmPc-T:5hdgufc-uKrQz-2upSkKVMFqgQA=]]>
						</string> 
					</dict> 
				</array> 
				<key>metadata</key> 
				<dict> 
					<key>bundle-identifier</key> 
					<string>com.damai.game</string> 
					<key>bundle-version</key> 
					<string>
						<![CDATA[2.0.5]]>
					</string> 
					<key>kind</key> 
					<string>software</string> 
					<key>title</key> 
					<string>
						<![CDATA[escape to Cao]]>
					</string> 
				</dict> 
			</dict> 
		</array> 
	</dict>
</plist>